@page "/test"
@using LearnBlazorDto.Models;
@using Niunan.LearnBlazor.WebServer.Repository;
<h3>Test</h3>
<Button OnClick="InitDB">init</Button>
@mes
@code {
    private string mes = "";
    private void InitDB() { 
       //SqlSugarHelper.Db.CodeFirst.InitTables<Models.Product>();
        //SqlSugarHelper.Db.CodeFirst.InitTables<Models.Category>();
      //  SqlSugarHelper.Db.CodeFirst.InitTables<Models.ProductImage>();
//mes = "初始化数据库成功";

      //List<Models.Category>  categories = new List<Category>() {
      //          new Models.Category(){ CategoryId=1, CategoryName = "电子产品", ParentId=0, CategoryPath = "" },
      //          new Models.Category(){ CategoryId=11,CategoryName="手机", ParentId=1,CategoryPath=",1,"},
      //          new Models.Category(){ CategoryId=12,CategoryName="音箱", ParentId=1,CategoryPath=",1,"},
      //          new Models.Category(){ CategoryId=13,CategoryName="鼠标", ParentId=1,CategoryPath=",1,"},
      //          new Models.Category(){ CategoryId=131,CategoryName="蓝牙鼠标", ParentId=13,CategoryPath=",1,13,"},
      //          new Models.Category(){ CategoryId=14,CategoryName="电脑", ParentId=1,CategoryPath=",1,"},
      //          new Models.Category(){ CategoryId = 2 ,CategoryName="生活用品", ParentId=0, CategoryPath="" },
      //           new Models.Category(){ CategoryId=21,CategoryName="抽纸", ParentId=2,CategoryPath = ",2,"},
      //          new Models.Category(){ CategoryId=22,CategoryName="牙签", ParentId=2 ,CategoryPath = ",2,"},
      //          new Models.Category(){ CategoryId=3,CategoryName="食品", ParentId=0 ,CategoryPath = ""},
      //          new Models.Category(){ CategoryId=31,CategoryName="粉", ParentId=3 ,CategoryPath = ",3,"},
      //          new Models.Category(){ CategoryId=4,CategoryName="书籍", ParentId=0 ,CategoryPath = ""},
      //          new Models.Category(){ CategoryId=41,CategoryName="计算机", ParentId=4 ,CategoryPath = ",4,"},
      //      };
      //      SqlSugarHelper.Db.Insertable(categories).ExecuteCommand();
      //      mes = "插入分类数据成功";

    //List<Models.Product>    prolist = new List<Models.Product>() {
    //            new Product(){ ProductId=1, ProductName = "心心相印抽纸" ,ThumbnailImage ="1.jpg", CategoryId = 21 },
    //            new Product(){ ProductId=2, ProductName = "牛腩粉" ,ThumbnailImage ="2.jpg",CategoryId = 31 },
    //            new Product(){ ProductId=3, ProductName = "深入浅出ASP.NET CORE" ,ThumbnailImage ="3.jpg", CategoryId = 41 },
    //            new Product(){ ProductId=4, ProductName = "Mac mini 2014" ,ThumbnailImage ="4.jpg", CategoryId=14 },
    //        };
    //        SqlSugarHelper.Db.Insertable(prolist).ExecuteCommand();
    //        mes = "插入商品数据成功";
    }
}
